@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Permanent+Marker&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
body {
    background-color: #003249;
    font-family: "Archivo Narrow", Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
header {
    background-color: #1D8A99;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #0BC9CD;
    color: white;
}
.home-title {
    color: white;
    font-family: "Permanent Marker", 'Times New Roman', Times, serif;
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color: white;
}
.book, .join {
    background-color: #EE8434;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #0BC9CD;
    color: white;
}
.msg {
    background-color: #0BC9CD;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2{
    color: white;
    font-family: "Permanent Marker", 'Times New Roman', Times, serif;
}
.msg p {
    color: white;
    /* font-size: 0.8em; */
    padding-bottom: 15px;
}
footer {
    background-color: #1D8A99;
    padding: 25px 50px;
    margin-top: 200px;
}
footer h3 {
    color: white;
}
footer h3 a:hover {
    text-decoration: underline;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: white;
}
footer .social img {
    padding-top: 15px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
    color: white;
}
main section img {
    box-sizing: border-box;
}
#background {
    height: 725px;
    background-color: #003249;
}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
.card-img {
    border: 10px solid #0BC9CD;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}